* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
  background-color: #f4f4f4;
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  color: white;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar h1 {
  font-size: 24px;
}

.navbar input {
  padding: 5px;
  font-size: 16px;
  width: 225px;
}

.navbar button {
  padding: 6px 10px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

.filter-container {
  margin: 20px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h3 {
  margin-bottom: 10px;
}

.card img {
  height: 130px;
  width: 120px;
}

.card p {
  margin: 5px 0;
  line-height: 35px;
}

.card a {
  color: #007bff;
  text-decoration: none;
}

.card a:hover {
  text-decoration: underline;
}

.add-college-div {
  text-align: center;
}

.add-college-div h1 {
  margin: 40px 0 40px 0;
}

.acd-mid {
  display: flex;
  justify-content: center;
  text-align: center;
}

.add-college-form {
  color: white;
  background-color: #333;
  text-align: left;
  padding: 30px 50px;
  border-radius: 5px;
}

.add-college-form .input-div {
  display: flex;
  margin-bottom: 20px;
}

.add-college-form .input-div i {
  display: flex;
  align-items: center;
  padding: 7px;
  color: black;
  background-color: rgb(197, 196, 196);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.add-college-form .input-div input[type="text"],
.add-college-form .input-div input[type="url"] {
  width: 100%;
  font-size: 15px;
  padding: 0 5px;
  border: 1px solid white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.add-college-form .input-div input[type="submit"] {
  padding: 6px 10px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

