<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ColleScope</title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="shortcut icon" href="/static/images/collescope.png" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;400&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/f5888c4373.js" crossorigin="anonymous"></script>
</head>
<body>

  <nav>
    <div class="navbar">
      <a href="/">
        <h1>ColleScope</h1>
      </a>
      <a href="add">
        <button>Add new college</button>
      </a>
      <input type="text" id="searchInput" placeholder="Search College" oninput="searchCollege()" />
    </div>
  </nav>

  {% block main %}
  {% endblock %}
  
  <script src="/static/script.js"></script>
</body>
</html>
